# Build outputs
bin/
obj/
publish-single/
publish/

# Portable zip (keep the source exe in git if needed)
#*.zip
*.exe

# Settings (contain local config)
appsettings.json
appsettings.Development.json

# PDB (debug symbols, optional)
*.pdb

# macOS
.DS_Store
